* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

img.github {
    padding: 0;
    padding-top: 10px;
    position: absolute;
    right: 0;
    width: 100px;
}

table#time {
    /* Center this element horizontally and vertically */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    /* Style the text font and size */
    font-size: 500%;
}

td {
    padding: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 80%;
    margin: 1.5%;
    font-style: italic;
}


/* Desktop */

@media only screen and (min-width: 670px) {
    table#time {transform: translate(-50%, -60%);}
    .desktop {display: block;}
    .mobile {display: none;}
}


/* Mobile */

@media only screen and (max-width: 670px) {
    table#time {transform: translate(-50%, -50%);}
    .desktop {display: none;}
    .mobile {display: block;}
}